<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>はじめてのブログ</title>
  <link rel="stylesheet" href="C:\Users\Ohta2\DjangoGirls\blog\templates\blog\style.css">
</head>
<body>
  <header>
    <h1>簡素なブログ</h1>
    <nav>
      <ul>
        <li><a href="#">ホーム</a></li>
        <li><a href="#">カテゴリー</a></li>
        <li><a href="#">アーカイブ</a></li>
        <li><a href="#">お問い合わせ</a></li>
      </ul>
    </nav>
  </header>

  <main>
{% for post in posts %}
    <article>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>     
    </article>
{% endfor %}
  </main>

  <footer>
    <p>&copy; 2023 おしゃれなブログ. All rights reserved.</p>
  </footer>
</body>
</html>
