/* blog.css */

/* 全体のデザイン */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f8fa;
  color: #333;
  margin: 0;
}

header {
  background-color: #1da1f2;
  color: #fff;
  text-align: center;
  padding: 10px;
}

header h1 a {
  color: #fff;
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

nav ul li a {
  color: #1da1f2;
  text-decoration: none;
}

nav ul li a:hover {
  color: #0f81c7;
}


.post {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 30%;
  margin-bottom: 20px;
}

.post h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.post .date {
  color: #aaa;
  margin-bottom: 10px;
}

.post .post-text {
  margin-top: 0;
}

footer {
  text-align: center;
  background-color: #1da1f2;
  color: #fff;
  padding: 10px;
}

/* ツイッター風のスタイル */
.post {
  position: relative;
  transition: transform 0.3s ease;
}

.post:hover {
  transform: translateY(-5px);
}

.post:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 161, 242, 0.1);
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.post:hover:before {
  opacity: 1;
}

footer p {
  margin: 0;
}

/* レスポンシブデザイン */
@media screen and (max-width: 768px) {
  .post {
    width: 90%;
  }
}
